@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Work+Sans:wght@300;400&display=swap');

*, *::after, *::before {
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
    color: #000000;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.appWindow {
    margin: 10vh auto;
    width: 600px;
    height: 435px;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.search {
    width: 598px;
    height: 45px;
    border-bottom: 1px solid #000000;
}

.search input {
    border: none;
    font-size: 18px;
    width: 598px;
    height: 44px;
    padding: 0px 26px 0px 16px;
    background: url(../img/search.png) no-repeat 98%;
}

.search input::placeholder {
    font-size: 18px;
    color: #696969;
}

.infoBlock {
    display: flex;
}

.leftBlock {
    border-right: 1px solid #000000;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 387px;
}

.contLeftBlock {
    height: 387px;
    border-bottom: 1px solid #000000;
}

.data .temperature p {
    position: absolute;
    font-size: 70px;
}

.data .temperature p span {
    position: absolute;
    font-size: 60px;
}

.switchLeftBlock {
    height: 46px;
    width: 100%;
}

.switchLeftBlock {
    display: flex;
    justify-content: space-around;
}

.switchLeftBlock div {
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    text-align: center;
    color: #000000;
    font-weight: 18px;
}

.switchLeftBlock div:hover {
    color: #ffffff;
    background-color: #000000;
}

.switchLeftBlock div:hover a {
    color: #ffffff;
}

.switchLeftBlock div:not(:last-child) {
    border-right: 1px solid #000000;
}

.rightBlock {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 387px;
}

.data {
    height: 342px;
}

.temperature {
    height: 100px;
    padding: 25px 0 0 23px;
}

.precipitation {
    height: 200px;
    text-align: center;
    padding: 40px;
}


.cityShape {
    display: flex;
    justify-content: space-between;
    height: 42px;
    padding: 0 26px 0 12px;
    
}

.heart {
    cursor: pointer;
}

.currentCity p {
    font-size: 24px;
}

.tabs__block {
    height: inherit;
    display: none;
}

.tabs__block.active {
    display: block;
}

.addedLocations {
    height: 68px;
    border-bottom: 1px solid #000000;
    padding: 32px 0 0 18px;
}

.addedLocations p {
    font-size: 24px;
}

.cities {
    padding: 33px 18px;
    height: 319px;
    overflow: scroll;
}

.cities .selected_city {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
}

.cities .selected_city:not(:first-child) {
    margin-top: 15px;
}

.cities .selected_city img {
    width: 17px;
    height: 16px;
    cursor: pointer;
}

.tabs__block:nth-child(2) {
    padding: 28px 0 0 18px;
    font-size: 24px;
}

.tabs__block:nth-child(2) p {
    margin-bottom: 40px;
}

.tabs__block:nth-child(2) li:not(:first-child) {
    margin-top: 15px;
}

.tabs__block:nth-child(3) {
    padding: 33px 0 20px 18px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.tabs__block:nth-child(3)::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.tabs__block:nth-child(3) .cityName {
    font-size: 24px;
    margin-bottom: 7px;
}

.tabs__items button {
    height: 45px;
    flex: 0.34%;
    background-color: #ffffff;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.tabs__items button:not(:last-child) {
   border-right: 1px solid #000000;
}

.tabs__items button:hover {
    background-color: #f8f8f8ec;
}

button.active {
    background-color: #000000;
    color: #ffffff;
}

button.active:hover {
    background-color: #000000;
}

button:active {
    background-color: #000000;
    color: #ffffff;
}


.oneDayBlock {
    display: flex;
    flex-direction: column;
    width: 265px;
    height: 120px;
    border: 1px solid #000000;
    padding: 6px 8px 12px 8px;
}

.oneDayBlock:not(:first-child) {
    margin-top: 9px;
}

.topInfo,
.bottomInfo {
    display: flex;
    justify-content: space-between;
}

.topInfo {
    height: 70px;
}

.bottomInfo {
    height: 47px;
}